* {
  margin: 0px;
  box-sizing: border-box;
}
.caixa-padrao {
  width: 200px;
  background-color: coral;
  padding: 10px; /* A caixa vai ficar com 280px reais! */
  padding-bottom: 100px; /* A caixa vai ficar com 370px reais! */
  border: 1px solid black;
}
.caixa-profissional {
  width: 200px;
  background-color: lightgreen;
  padding: 40px;
  border: 1px solid black;
  margin-top: 10px;
}
